# Cache
__pycache__/

# Data
data/physionet/*
!data/physionet/README.md
!data/physionet/montage.png
data/bci-iv-iia/*
!data/bci-iv-iia/description.pdf
!data/bci-iv-iia/README.md
data/bci-iv-iib/*
!data/bci-iv-iib/description.pdf

# IDEA
.idea/

# Local scripts
run-tensorboard.sh

# Log
app.log