# IDEA
.idea/

# Data
data/physionet/raw-edf-files/
data/physionet/raw-csv-files/
data/physionet/preprocessed-csv-files/
data/bci-iv-iia/gdf-files/
data/bci-iv-iia/csv-files/
data/bci-iv-iib/gdf-files/
data/bci-iv-iib/csv-files/

# Cache
__pycache__/