# Core scientific packages
jupyter==1.0.0
matplotlib==3.3.0
pandas==1.1.0
numpy==1.18.0
scipy==1.4.1

#### Deep Learning packages
tensorflow==2.3.0
tensorboard==2.3.0

# Data manipulation packages
pyedflib==0.1.18
mne==0.20.7